.title {
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.start {
    border-radius: 20px;
    background-color: chartreuse;
    z-index: 2;
    width: 230px;
    height: auto;
    margin: auto;
}

.text {
    display: flex;
    column-count: 3;
    column-gap: 20px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #D1D1D1;
}


/* NAV */

body {
    margin: 0;
}

nav ul {
    background: lightgray;
    height: 50px;
    box-shadow: 0px 0px 20px 2px #000;
}

li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    color: black;
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
a:focus {
    color: green;
}